<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GWLAnimationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B41473DF1D73D4C400E64D07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41473F81D73D4C400E64D07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41474031D73D4C400E64D07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
